.button {
  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: blue;
  border-radius: 10px;
  color: #fff;
  width: 100px;

  margin: 10px;
}

.large {
  width: 140px;
  height: 70px;
  font-size: 24px;
}
